# PHP
alias phpunit="vendor/bin/phpunit"
alias phpunitw="phpunit-watcher watch"
alias a="php artisan"
alias acc="a cache:clear && a view:clear && a config:clear"
alias ar="php artisan remote"
alias c="composer"
alias cu="composer update"
alias cr="composer require"
alias crm="composer remove"
alias ci="composer install"
alias cda="composer dump-autoload -o"
alias hostfile="sudo code /etc/hosts"
alias deploy='envoy run deploy'
alias deploy-code='envoy run deploy-code'
alias mfs='php artisan migrate:fresh --seed'
alias nah='git reset --hard;git clean -df'

alias pp="php artisan test --parallel"
alias d="php artisan dusk"
alias config="vi ~/.ssh/config"
alias copykey='command cat ~/.ssh/id_rsa.public | pbcopy'
alias sail='./vendor/bin/sail'

# JavaScript
alias pn="pnpm"

# Git
alias gc="git checkout"
alias gcl="git clone"
alias gpo="git push origin"
alias gm="git merge"
alias gnf="git checkout -b feature/"
alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"

# Docker
alias dc="docker-compose"
alias dcu="docker-compose up -d"

# Fast open
alias o="open ."

# List all files colorized in long format
alias l="ls -laF"

# PhpStorm
alias pstorm='phpstorm'

# Redis
alias flush-redis="redis-cli FLUSHALL"

# VSCode
# alias code='open -a "/Applications/Visual Studio Code.app"'

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# IP addresses and ports
alias ip="curl https://diagnostic.opendns.com/myip ; echo"
alias localip="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"
alias ops="sudo lsof -iTCP -sTCP:LISTEN -n -P"

# Flush Directory Service cache
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

# Lock the screen
alias afk="osascript -e 'tell application \"System Events\" to keystroke \"q\" using {command down,control down}'"

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Brew for x86
alias ibrew="arch -x86_64 /usr/local/bin/brew"

# Run in x86
alias x86="arch -x86_64"

# Scape webpage
alias scrape="scrapeUrl"

# Folders
alias c="cd ~/Code"
alias ws="cd ~/Sites"
alias desk="cd ~/Desktop"
alias dl="cd ~/Downloads"

# SSH
alias sshc="ssh-copy-id -i ~/.ssh/id_rsa $1"
alias sshr="ssh-keygen -R $1"

# Other
alias star="tar -cvf"
alias untar="tar -xvf"

# Global updates
alias update="composer global update && npm update -g && brew update && brew upgrade && brew cleanup && brew doctor"
